<p-panel header="Pipes Personalizados" class="p-1">
  <p>Pipes Personalizados- Creados por {{ "nosotros" | toggleCase:isUpperCase }}</p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="ToggleCase" icon="pi pi-search" (onClick)="toggleUpperCase()"></p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button label="Por Nombre" icon="pi pi-sort" class="mr-2" (onClick)="changeOrder('name')" styleClass="p-button-success"></p-button>
    <p-button label="por volar" icon="pi pi-sort" class="mr-2"  (onClick)="changeOrder('canFly')" styleClass="p-button-danger"></p-button>
    <p-button label="por Color" icon="pi pi-times" class="mr-2" (onClick)="changeOrder('color')" styleClass="p-button-help"></p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="heroes">
      <p-table [value]="heroes | sortBy:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly| canFly| titlecase }}</td>
            <td>{{ hero.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
